name: test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags-ignore:
      - '**'
    paths-ignore:
      - README.md
      - CHANGELOG.md

permissions:
    contents: read
    id-token: write
    pull-requests: write
    issues: write

jobs:
  test:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Test
        run: yarn run test

      - name: Gradle chmod Setup
        run: cd android && chmod +x gradlew

      - name: Decode Keystore
        env:
          ENCODED_STRING: ${{ secrets.KEYSTORE }}
        run: |
          echo $ENCODED_STRING | base64 -di > android/app/jam_keystore.jks

      - name: Build application apks
        run: yarn run android:build:release:apk
        env:
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}

      - name: Upload generated
        uses: actions/upload-artifact@v4
        with:
          name: apk-artifacts
          retention-days: 1
          path: |
            ./android/app/build/outputs/apk/release/*.apk
